body{
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color: #40514E;
  }
header img{
    height: 850px;
}
.headDiv1{
    position: absolute;
}
.headDiv2{
    position: absolute;
    margin-left: 60%;
}
h1 {
    color: #00bcd4;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    font-family:Brush Script MT, Brush Script Std, cursive;
    line-height: 200%;
    font-weight: bolder;
}
h2 {
    color: #00bcd4;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}
.codeImg{
    height: 100px;
}
.contactbtn {
    position: absolute;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    text-align: center;
    font-family:Arial;
    font-size:15px;
    text-shadow:0 1px 0 #e1e2ed;
    left: 210px;
    top: 5px;
    width: 200px;
    height: 40px;
    border:1px solid #d6bcd6;
}
.homebutton {
    position: fixed;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:15px;
    text-shadow:0 1px 0 #e1e2ed;
    left: 5px;
    top: 5px;
    width: 200px;
    height: 40px;
    border:1px solid #d6bcd6;
}